/* Start : Override Bootstrap navigation */
body,html {
  background: url(../pics/back.png) no-repeat center center fixed; 
  line-height: 0.8;
  padding-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.property-details {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.property-info {
  flex: 1 1 auto;
}
.property-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.property-info p {
  margin-bottom: 5px;
}
.property-details .fa {
  margin-right: 5px;
}
.dismissable-panel {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
}
.dismissable-panel p {
  margin: 0;
}
.dismiss-button {
  position: absolute;
  top: 5px;
  right: 6px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.delete-button {
  position: absolute;
  bottom: 5px;
  right: 1px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  border: none;
}

/* End : Override Bootstrap navigation */
.navbar {
  border: none;
  background: url(../pics/header-footer.png) !important;
}
/* End : Override Bootstrap navigation */

/* Start : Override Bootstrap navigation */
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}

.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 1px solid #000000;
}

.output-panel{
  background: url(../pics/header-footer.png) !important;
  font-size: 16px;
  color: white;
}

select{
  font-size: 100%;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.42857;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  border: none;
  color: black;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}

option{
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #ffffff;
  border: none;
  color: black;
}

.btn:hover, .btn:active, .btn:focus {
  background: url(../pics/header-footer.png) !important;
  color: #fff;
  outline: none !important;
}
/* End : Override Bootstrap navigation */


/* Start: Responsive CSS section */

@media (min-width: 0px) and (max-width: 480px) {
	.navbar	{
		padding: 0 10px 0 10px;
	}
}

@media (min-width: 480px) and (max-width: 979px) {
  .nav-collapse .dropdown-menu a {
    color: white;
  }
  
  .nav-collapse .dropdown-menu a:hover {
    background-color: #2E3436;
  }
  
  .nav-collapse .nav-header{
    display: none;
  } 
  
  .navbar{
    padding: 0 10px 0 10px;
  }
  
}
/* End : Responsive CSS section */


/* Start : Override Bootstrap navigation */

section .container {
  padding-top: 80px;
  max-width: 800px;
}


  .fa-times-circle, .fa-check-circle{
    -webkit-animation: blink-1 2s infinite both;
    animation: blink-1 2s infinite both;
}
/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
/* End : Responsive CSS section */

/* Start : Responsive CSS section */

.footer {
  padding: 24px 0;
  line-height: 1.8;
  font-size: 9px;
  position: relative;
  }

.box a, .footer a {
  color: inherit;
  text-decoration: none;
}

iframe {
  height: 450px;
  margin: 0 auto;
  width:100%;

}
/* End : Responsive CSS section */

/* Start : Responsive CSS section */

.forgot {
  padding: 10px 0;
  position: relative;
  }

/* End : Responsive CSS section */

  